#root {
  background: #141414;
  display: flex;
  flex-wrap: wrap;
}
.html{
  background: #141414;
  height: 100%;

}
.read-the-docs {
  color: #888;
}


/* -------------------------------------------- */

