:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-heading{
  color: #DEE3EA;
  font-size: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  overflow-x: hidden;

}

/* Home Component */

.Home{
  width: 100vw;
  display: flex;
  height: 100vh;
  z-index: 100;
  overflow-y: hidden;
  overflow: hidden;
}

.left{
  width: 25vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid #213547;
  background: #141414;
}

.right{
  width: 80vw;
  height: 100%;
  border: 2px solid #213547;

}

.joines{
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

}

.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Readex Pro' , sans-serif;
  border-radius: 0.6rem;
  height: 1.4em;
  width: 2em;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  text-transform: capitalize;
}

.left-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  color: rgba(9, 117, 241, 0.8);
}
.client{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  flex: 1;
}

.clientsList{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.3rem;
}
.asideInner{
  display: flex;
  flex-direction: column;
}

.btn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  padding: 10px;
  gap: 2rem;
  display: flex;
  padding: 1rem;
}

.editor{
  display: flex;
  height: 100%;

}

#realtimeEditor{
  width: 100%;
  height: 100%;
}

.CodeMirror{
  width: 100%;
  min-height: 100vh;
  padding: 0 ;
}



/*  ---- logo ----- */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logo {
  position: absolute;
  color: #535bf2;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.logo3{
  width: 1.9rem;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.allbtns{
  display: flex;
  justify-content: center;
  height: 5rem;
  width: auto;

}

h3{
  text-align: center;
}
